<div class="addressFormContainer">
  <form mat-form class="addressForm" (ngSubmit)="lookUp(addressForm)" [formGroup]="addressForm">
    <mat-form-field>
      <mat-label>Address:</mat-label>
      <input matInput maxlength="46" type="text" formControlName="streetAddress">
    </mat-form-field>

    <mat-form-field>
      <mat-label>City:</mat-label>
      <input matInput maxlength="35" type="text" formControlName="city">
    </mat-form-field>

    <mat-form-field>
      <mat-label>State abbr:</mat-label>
      <input matInput maxlength="2" type="text" formControlName="state">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput maxlength="10" type="text" formControlName="zip">
    </mat-form-field>

    <div class="action-buttons">
      <button mat-raised-button type="submit" (click)="lookUp(addressForm)">Search</button>
      <button mat-raised-button type="reset" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
