header {
  background-color: lightgray;
  height: 4em;
  padding-bottom: 1em;
  width: 100%
}

h1
{
  padding-left: 1em;
  float: left;
  display: inline-block;
}

#menu{
  float: right;
  padding: 1.5em 2em;
}
